.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.list{
    display: flex;
    padding: 0;
    margin: 0;
}

.list li {
    margin: 0 20px;
}

.list li:not(:last-child)::after{
    content: "|" ;
    margin-left: 30px;
}

.logo{
    font-size: 20px;
    color: green;
}

a{
    text-decoration: none;
    color: black;
}

